body {
    font-family: 'Mulish', sans-serif;
    color: black;
    height: 100vh;
}

* {
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}

button {
    cursor: pointer;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
    
}

.circle{
    
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
    background-color:  #458FF6;
}

.logo{ 
    font-weight: bold;
    font-size: 24px;
    color: #233348;
    display: flex;
    align-items: center;
}

.nav-bar {
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
}

.nav-bar li{
    display: inline-block;
}
.nav__link {
    margin: 0 10px;
    color: #1F1534;
    text-decoration: none;
    transition: color 0.2s;
    opacity: 0.5;
    letter-spacing: 0.5px;
}


.nav__link:hover{
    color: #1F1534;
    font-weight: bold;
    opacity: 1;
    letter-spacing: normal; 
}


.main1 { 
    display: flex;
    margin: 80px auto;  
}

.main1 h1 {
    font-family: "Montserrat";
    font-size: 40px;
    line-height: 56px;
    margin: 20px 0;
}
.img1 {
    width: 100%;
    max-width: 690px; 
}
.main1 p{

    font-size: 21px;
    line-height: 32px;
    color:#7D7987;
    margin: 20px 0;
}


.but1{
    background-color: #458FF6;
    border-radius: 55px;
    color: #fff;
    font-size: 18px;
    padding: 7px 40px;
    border:none;
}

.but1:hover{
    background-color: #fff;
    border-radius: 55px;
    color: #458FF6;
    font-size: 18px;
    padding: 7px 40px;
    border: #458FF6 solid 2px;
}

.our-service {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.p2{
 color: #7D7987;
 margin-top: 40px;
line-height: 1.7;

}

.our-service__title::after {
    content: '';
    width: 56px;
    height: 2px;
    display: block;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

.grids{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    justify-content: space-around;
} 

.box1{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 300px;
    padding: 50px;
    text-align: left;
}
.box1 h3{
    padding: 15px 0;

}
.box1 p{
    color:#7D7987;
}
.but2{
    background-color: #fff;
    color: #458FF6;
    font-size: 18px;
    padding: 7px 40px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    margin-top: 40px;
}

.but2:hover{
    background-color: #458FF6;
    color: #fff;
    font-size: 18px;
    padding: 7px 40px;
    box-sizing: border-box;
    border-radius: 55px;
    margin-top: 40px;
}

.img2{
    width: 100%;
    max-width: 690px;
}
.staf1{
    display: flex;
    margin:80px auto;
}

.staf1-include p {
    color:#7D7987;
    margin-top: 40px; 
}
.our-service__title1{
    width:430px;
}
.our-service__title1::after {
    content: '';
    width: 56px;
    height: 2px;
    display: block;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px auto 0 0;

}
.staf1-include{
    text-align: left;
    margin: 0px 60px;
    max-width: 430px;
}

.but3{
    background-color: #fff;
    color: #458FF6;
    font-size: 18px;
    padding: 7px 40px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    position: relative;
    margin-top: 40px; 
    z-index: -1;
}

.but3:hover{
    background-color: #458FF6;
    color: #fff;
    font-size: 18px;
    padding: 7px 40px;
    box-sizing: border-box;
    border-radius: 55px;
    position: relative;
    margin-top: 40px; 

}
.but3:hover::before {
    border-color:  #fff;
}

.but3:hover::after{
    background-color: #fff;
}

.staf2{
    display: flex;
    margin:80px auto;
}

.staf2-include{
    text-align: left;
    margin: 0px 60px;
    max-width: 430px;
}

.staf2-include p{
    color:#7D7987;
    margin-top: 40px; 
}

.but3::after{
    content: '';
    width: 20px;
    height: 2px;
    transform: rotate(-90deg);
    display: inline-block;
    background-color: #458FF6;
    border-radius: 5px;
    margin: 0px 0px 5px 5px;
}
.but3::before{
    content: '';
    border: solid #458FF6;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 46px;
    bottom: 7px;
}

.check-out{
    margin-top: 80px;
    text-align: center;
}
.check-out-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top:80px;

}

.read-more{
    color:#458FF6;
    text-decoration: none;
    display: inline-block;
}
.img-in-box{
    max-width:100%;
    height:auto; 
    border-radius: 20px 20px 0px 0px;
}
.footer-inner{
    color: #fff;
    margin-top: 80px;
    padding-top: 130px;
    padding-bottom: 40px;
    background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

.logo1{
    font-weight: bold; 
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{  
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    background-color:  #fff;
   
}

.ttt{
    color: #458FF6;
}


.footer1{
    display: flex;
    flex-direction: column; 
    max-width: 390px;
    align-items: flex-start;
}

.fot-text1{
    color: #fff; 
    margin-top: 30px;
}

li{
margin-top: 20px;
}

.fot-hed{
    font-weight: bold; 
    font-size: 24px;
}

.slider-text p{
 margin: 0 0 0 50px;
}

.slider-container{
    height: 250px;
    border-radius: 24px;
    background: linear-gradient(180.92deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-left: auto;
    margin-right: auto; 
}
.our-service__title2{
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.hed-slider-content{
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;

}

#slider-include{
    color: #fff; 
    display: inline-block;
    padding: 0 50px;
}

.hed-slider-content::after {
    content: '';
    width: 56px;
    height: 2px;
    display: block;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.slider-content{
    display: flex; 
    justify-content: space-around;
}

.slider-content-name p{
    margin-top:20px;
}

.slider-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.slider-content-name{
    margin: 40px 0 0 20px;
    width: 200px;  
}

.andre{
    width: 133px;
    height: 133px;
    border-radius: 50%;
    border: solid white 5px;
}

.fot-text2{
    color: #fff; 
    margin: 0 30px 30px 30px;
}


.owl-nav{
    position: absolute;
    bottom: -20%;
    left: 50%;
}

.owl-dots {
    position: absolute;
    bottom: -30%;
    left: 50%; 
} 

.owl-item img{
    width: auto !important;
}
.owl-dot span{
    background: #5B9BF3 !important;
    opacity: 0.3;
  } 

  .owl-dot.active span{
    opacity: 1 !important;
  } 

#menu__toggle {
    opacity: 0;
  }
  .fslider{
    display: flex;
   
    text-align: center;
    align-items: center;
    }
  
@media (max-width: 425px) {
    screen{
        width: 425px;
    }
.fslider{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    }
.owl-dots{
    position: absolute;
    bottom: auto;
    left: 42%;
}
.owl-nav{
    visibility: hidden;
}
    .hamburger-menu{
        position: fixed;
        right:20px;
        z-index: 100;
    }
    .header{
        margin-top: 30px;
        align-items: normal;
    }

    .footer-inner{
        padding-top:0;
    }
    .box1{
        text-align: center;
    }
    .menu__btn {
        display: flex;
        align-items: flex-start;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 0; 
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #458FF6;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }

    .nav-bar{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #458FF6;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
     

    .nav__link{
        display: block;
        padding: 12px 24px;
        color: #333;
    }
    
    .nav_link:hover {
      background-color: #CFD8DC;
          }

    #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
            background-color:#fff; 
             z-index: 14; 
          }
    #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
            background-color:#fff; 
             z-index: 14; 
          }
    #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
            background-color:#fff; 
            z-index: 14; 
          }
    #menu__toggle:checked ~ .nav-bar {
            visibility: visible;
            right: 0;
            z-index: 10;
          }
          
    .img1 {
        max-width: 50%;
    }
    .main1 {
    flex-direction: column;
    text-align: center;
    }
    .staf1{
    flex-direction: column;
    }
    .our-service__title1{
        
        display: inline;
    }
    .our-service__title1::after{
        margin: 16px auto 0 auto;
    }
    .staf1-include{
        margin: 0;
        text-align: center;
    }

    .staf2{
        flex-direction: column;
    }
    .staf2-include{
        margin: 0;
        text-align: center;
    }
    .but3{
        margin: 15px 0;
    }
    .footer{
        padding-top: 30px; 
    }

    .slider-container{
        width: 100%;
        margin-left: 0;
        height: 100%;
    }

   
    #slider-include{
        width: 100%;
        margin: 0;
        padding: 10px 5px;
    }
    .hed-slider-content::after{
        margin-bottom: 10px;
    }

    .slider-content-name{
        margin:0;
    } 
    .andre{
        width: 99px;
        height: 99px;
    }
    .slider-text p{
        margin-left: 5px;
        font-size: 12px;
    }
}